/*pagina toda*/
.page{
    background: #E5E6E4;
    margin: auto;
}
/* barra header*/
.navbar{
    display: flex;
    background: #0CCA4A;
    height: 45px;
    padding: 0 16px;
    align-items: center;
}
/*menu lado esquerdo*/
.dropdownMenu{
    display: flex;
    color: #FCFAFA;
    height: 40px;
    width: 40px;
    margin: 0 16px 0 0;
    padding: 5px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
/*logo da Monitora*/
.logoMonitora{
    display: block;
    height: 30px;
    position: inherit;
}
/*barra de pesquisas*/
.searchContainer{
    display: flex;
    justify-content: center;
    height: 30px;
    flex-grow: 1;
    max-width: none;
    margin: 0 40px;  
}
.searchBox{
    background: #E5E6E4;
    border: solid 1px #6E8387;
    display: flex;
    flex-direction: row-reverse;
    height: inherit;
    flex-grow: 1;
    max-width: 600px;
    margin: 0 12px;
}
.searchButton{
    background: #C8D3D5;
    color: #6E8387;
    border-width: 0;
    border-left: solid 1px #6E8387;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 65px;
}
.searchInput{
    display: flex;
    border-width: 0;
    max-width: 100%-65px;
    flex-grow: 1;
    padding: 0 10px;
}
/*conjunto de icones no fim da barra*/
.end{
    display: flex;
    width: 200px;
    height: 40px;
    padding: 0 10px;
    justify-content: flex-end;
}
.endIcon{
    color: #FCFAFA;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
}
.endId{
    color: #FCFAFA;
    font-size: 40px;
    height: 40px;
    width: 60px;
    box-sizing: border-box;
    padding: 1px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*card de infos de voo*/
.cardBox{
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    background: #FCFAFA;
    width: 732px;
    height: 197px;
    border: solid 1px #6E8387;
}
/*parte que se refere a imagem do avião*/
.imageBox{
    background: black;
    height: inherit;
    width: 40%;
    border-right: solid 1px #6E8387;
    box-sizing: border-box;
}
.aircraftContainer{
    height: 80%;
}
.backgroundImage{
    height: inherit;
    width: 100%;
    background-image: url(html_css_challange/img/mountain_background.jpg);
    background-position-x: 900px;
    background-position-y: -200px;
    box-shadow: inset 0 -30px 85px 0 black;
}
.aircraft{
    width: 100%;
}

.tagh3{
    height: 20%;
    display: flex;
    color: #FCFAFA;
    justify-content: center;
    align-items: center;
}
.aircraftType{
    color: #E5E6E4;
    font-size: 20px;
    display: flex;
    height: 20px;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    padding-bottom: 10px;
}
/*parte que se refere as infos do card*/
.infoBox{
    display: flex;
    flex-flow: column;
    background: #FCFAFA;
    height: inherit;
    width: 60%;
}
/*top*/
.topInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #C8D3D5;
    height: 25%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.infoDate{
    display: flex;
    flex-direction: row;
    color: #6E8387;
    
    align-items: center;
    height: 30px;
    width:  120px;
    margin: 0 0 0 0px;
}
.infoHour{
    display: flex;
    justify-content: center;
    color: #6E8387;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 80px;
}
.infoPassengers{
    display: flex;
    justify-content: space-around;
    color: #6E8387;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 120px;
}

/*fim top*/
/*middle*/
.middleInfo{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.middleTop{
    color: #6E8387;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 15px;
    width: 100%;
    padding: 0 24px;
    
    box-sizing: border-box;
}
.middleMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    margin: 3px 0 0 0;
    box-sizing: border-box;
}
.flagLeft{
    display: flex;
    align-items: center;
    height: 33px;
    width: 350px;
}
.airport{
    color: #6E8387;
    height: 100%;
    font-size: 33px;
    box-sizing: border-box;
    padding: 0 8px;
}
.flagRight{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 33px;
    width: 350px;
}
.airportMain{
    display: flex;
    font-size: 32px;
    justify-content: space-between;
    color: #6E8387;
    box-sizing: border-box;
    padding: 0 8px;
    height: 33px;
    width: 100%;
}
.aircraftLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    color: #6E8387;
    height: 45px;
    width: 40px;
}
.middleBottom{
    display: flex;
    font-size: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    color: #6E8387;
    padding: 0 56px;
    margin: 8px 0;
    height: 10px;
    width: inherit;
}
/*fim middle*/
/*bottom*/
.bottomInfo{
    display: flex;
    box-sizing: border-box;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    color: #6E8387;
    font-size: 24px;
    height: 15%;
    width: 100%;
}
.separator{
    margin: auto;
    width: 90%;
    color: #6E8387;
}
/*fim bottom*/